.panel-footer {
  text-align: center;
}

#button {
  padding-top: 20px;
}

.btn-block {
  background-color: rgb(250, 176, 245);
  font-size: 2.0em;
}

.btn-primary {
  background-color: rgb(234, 51, 223);
}
