.leader {
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 0;
}

.crown {
  margin-top: -20px;
  margin-bottom: -50px;
}

.leaderboardList {
  font-size: 25px;
  padding-left: 30px;
  padding-top: 0px;

}

h3.text-center {
  margin-top: -20px;
  margin-bottom: 40px;
  font-size: 28px;
}

.index {
  padding-right: 30px;
  font-weight: bold;
  color: #931c91;
  text-shadow: 1px solid black;
}

td.username {
  padding-right: 20px;
  padding-left: 0;
}
