#theme {
  padding-top: 120px;
  padding-bottom: 40px;
}

#quizz {
  height: 250px;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 300px;
}

#start {
  padding-bottom: 150px;
}

.next_pass {
  padding-top: 60px;
}

.col-xs-2.pull-center {
  padding-left: 0;
}

.question_answer {
  padding-left: 4%;
}

th.ng-binding.question {
  padding-bottom: 20px;
}

th.ng-binding.answer {
}

.title_quizz {
  font-size: 40px;
  padding-left: 20px;
}

.green {
  background-color: #c2fcc8;
}

.red {
  background-color: #fcc7c7;
}

.row.third {
  padding-top: 20px;
}

#nbr {
  font-size: 18px;
}

#progress_bar {
  padding-left: 0;
  padding-right: 0;
}

.progress-bar {
  background-color: #fcbafc;
}

#boutton {
  margin-top: 60px;
  font-size: 16px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  text-shadow: 1px 1px 1px #fff7ff;
}

#boutton:hover {
  background-color: #f28af2;
  color: #fff7ff;
  text-shadow: 1px 1px 1px #000;
}

#boutton:focus {
outline: none;
}

/*play button*/
.btn-slide {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    margin: 0px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #e54be5/*#fcbafc*/;
    transition: .5s;
    top: 12px;
    left: 40%;
}

.btn-slide:hover {
    background-color: #e54be5;
}

.btn-slide:hover span.circle {
    left: 100%;
    margin-left: -45px;
    background-color: #e54be5;
}

.btn-slide:hover span.title {
    left: 40px;
    opacity: 0;
}

.btn-slide:hover span.title-hover {
    opacity: 1;
    left: 40px;
}

.btn-slide span.circle {
    display: block;
    background-color: #ce29ce;
    color: #000;
    text-shadow: 1px 1px 1px #fff7ff;
    position: absolute;
    float: left;
    margin: 3px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.circle.glyphicon.glyphicon-play {
  padding-left: 12px;
}

.btn-slide span.title,
  .btn-slide span.title-hover {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-shadow: 1px 1px 1px #fff7ff;
    transition: .5s;
}

.btn-slide span.title-hover {
    left: 80px;
    opacity: 0;
}

.btn-slide span.title-hover {
    color: #FFF7FF;
    text-shadow: none;
}
