#result {
  padding-bottom: 40px;
}

.restart {
  padding-left: 60px;
}

.table_result {
  font-size: 20px;
}

.results {
  padding: 0;
  width: 50px;
}

.contenu {
  padding-left: 38px;
}

#joke {
  padding-top: 50px;
}

.joke {
  font-size: 24px;
}

.img_joke {
  margin-right: 10px;
  margin-left: 20px;
}
