@font-face {
    font-family: 'luckiestguy';
    src: url('../fonts/luckiestguy.ttf');
}

html, body {
  font-style: normal;
  letter-spacing: 1px;
  background: linear-gradient(to bottom, black, white);
    width: 100%;
    height: 100%;
}

button {
  cursor: pointer;
}

.container-fluid {
  padding: 0;
}

#header {
    height: 110px;
    width: 100%;
    margin: 0;
}

h1 {
  font-family: 'Acme', 'luckiestguy', sans-serif;
  letter-spacing: 3px;
  color: #fff7ff;
  font-size: 4em;
  text-shadow: 0.1px 0px 0.2px grey;
}

#header .sun {
    height: 20%;
    width: 65px;
    margin-top: 20px;
    margin-right: 20px;
}

#header .cloud1 {
    padding-top: 50px;
}

.wild {
  margin-top: 10px;
  padding-left: 150px;
}

#center {
    height: 100%;
    padding: 20px;
}
