#timer {
  font-size: 50px;
  padding-top: 5px;
  color: #93b2f9;
  text-shadow: 0.5px 0.5px 0.2px grey;
}

#score {
  padding-top: 30px;
  padding-left: 50px;
}

.timer_box {
  border: 6px solid #98b5f9;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 50px;
}
