<div class="container-fluid">

<h1>Do you really want to play with your brain ?</h1>

    <div class="row animation">


        <div class="col-xs-12">

            <div class="slider">

                <div class="container">

                    <div class="slide x"></div>
                    <div class="slide y"></div>
                    <div class="slide z"></div>

                </div>

            </div>
        </div>
    </div>

    <div class="row buttonplay">

        <div class="col-xs-5"></div>
        <div class="col-xs-2"><button type="button" class="big-button btn btn-primary btn-lg btn-block">Let's play !</button></div>
        <div class="col-xs-5"></div>

    </div>
</div>
