<div class="container-fluid">

  <div class="row first">
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/sport.png" height="40%" width="40%"></div><div class="panel-footer">Sport</div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/dino.svg" height="40%" width="40%"></div><div class="panel-footer">History</div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/book.svg" height="40%" width="40%"></div><div class="panel-footer">General Knowledge</div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/erlen.svg" height="40%" width="40%"></div><div class="panel-footer">Science</div></div>
  </div>

  <div class="row second">
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/music.svg" height="56%" width="56%"></div><div class="panel-footer">Music</div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/world.svg" height="40%" width="40%"></div><div class="panel-footer">Geography</div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme tv" src="img/tv.svg" height="40%" width="40%"><img class="theme popcorn" src="img/popcorn.svg" height="40%" width="40%"></div><div class="panel-footer">Television</div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/paw.svg" height="40%" width="40%"></div><div class="panel-footer">Animal</div></div>
  </div>

  <div id="button" class="row">

      <div class="col-xs-5"></div>
      <div class="col-xs-2"><button type="button" class="btn btn-primary btn-lg btn-block">Let's go !</button></div>
      <div class="col-xs-5"></div>

  </div>

</div>
