<div class="container-fluid">

    <div class="col-xs-8 col-xs-offset-2">
        <div class="well">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="profile">My profile</h3>
                </div>
            </div>

            <div class="row infos">
                <div class="col-xs-6 col-xs-offset-4">
                    <div class="info">
                        <img class="" src="img/user.svg" height="9%" width="9%"><span class="username">Username: {{myUsername}}</span>
                    </div>
                    <div class="info">
                        <img class="" src="img/mail.svg" height="8%" width="8%"><span class="mail">Email: {{myEmail}}</span>
                    </div>
                    <div class="info">
                        <img class="coin" src="img/coin.svg" height="12%" width="12%"><span class="score">Score: {{myScore}} points </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-8 col-xs-offset-2">
    <div class="well">
        <div class="row text-center">
            <h3 class="profile">Edit your personal info</h3>

            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Email:</label>
                    <div class="col-xs-4">
                        <input class="form-control" type="text" value="email@mail.com" ng-model="newProfile.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 col-xs-offset-1 control-label">Username:</label>
                    <div class="col-xs-4">
                        <input class="form-control" type="text" value="username" ng-model="newProfile.username">
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-5 col-xs-offset-5 save_change">
                <input type="button" class="btn btn-primary save" value="Save Changes" ng-click="saveUser()">
                <span></span>
                <input type="reset" class="btn btn-default" value="Cancel">
            </div>
        </div>


    </div>
</div>
</div>
</div>
