<div class="container-fluid">

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well leader">


              <div class="row">
                  <div class="col-xs-12 text-center crown"><img src="img/crown.svg" height="20%" width="20%">
                  </div>
              </div>


                <div class="row">
                    <div class="col-xs-12 pull-center leader"> <h3 class="text-center">Leaderboard</h3>
                    </div>
                </div>

                <div class="row leaderboardList">
                    <div class="col-xs-5 col-xs-offset-4">
                        <table>
                            <tr ng-repeat="leader in leaders | limitTo:10">
                                <td class="index text-right">{{$index+1}}.</td>
                                <td class="username">{{leader.username}}</td>
                                <td class="score">{{leader.score}}</td>

                            </tr>
                        </table>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
</div>
