<!-- edit leaderboard -->

<h3>Global leaderboard</h3>

<div class="leaderboardList">

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>

    <div class="item">
        <div class="rank">{{}}</div>
        <div class="content">
            <a class="avatar"><img src={{avatarlink}}></a>
            <div class="rankInfo"><a href={{profilelink}} class="name">{{}}</a></div>
            <div class="points">{{}}</div>
        </div>
    </div>



</div>
