<!-- Profile de {{user.email}} -->
<div class="container-fluid">

  <div class="row first">
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/sport.png" height="40%" width="40%"></div><div class="panel-footer">Sport<a href="/#!/user/quizzSport" type="button" class="btn btn-default btn-circle glyphicon glyphicon-play pull-right"></a></div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/dino.svg" height="40%" width="40%"></div><div class="panel-footer">History<a href="/#!/user/quizzHistory" type="button" class="btn btn-default btn-circle glyphicon glyphicon-play pull-right"></a></div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/book.svg" height="40%" width="40%"></div><div class="panel-footer">General Knowledge<a href="/#!/user/quizzGeneral" type="button" class="btn btn-default btn-circle glyphicon glyphicon-play pull-right"></a></div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/erlen.svg" height="40%" width="40%"></div><div class="panel-footer">Science<a href="/#!/user/quizzScience" type="button" class="btn btn-default btn-circle glyphicon glyphicon-play pull-right"></a></div></div>
  </div>

  <div class="row second">
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/music.svg" height="56%" width="56%"></div><div class="panel-footer">Music<a href="/#!/user/quizzMusic" type="button" class="btn btn-default btn-circle glyphicon glyphicon-play pull-right"></a></div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/world.svg" height="40%" width="40%"></div><div class="panel-footer">Geography<a href="/#!/user/quizzGeography" type="button" class="btn btn-default btn-circle glyphicon glyphicon-play pull-right"></a></div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme tv" src="img/tv.svg" height="40%" width="40%"><img class="theme popcorn" src="img/popcorn.svg" height="40%" width="40%"></div><div class="panel-footer">Television<a href="/#!/user/quizzTele" type="button" class="btn btn-default btn-circle glyphicon glyphicon-play pull-right"></a></div></div>
    <div class="col-xs-3 panel panel-default"><div class="panel-body"><img class="theme" src="img/paw.svg" height="40%" width="40%"></div><div class="panel-footer">Animal<a href="/#!/user/quizzAnimal" type="button" class="btn btn-default btn-circle glyphicon glyphicon-play pull-right"></a></div></div>
  </div>

</div>
