<div class="container-fluid">

    <div class="row" ng-show="theme" ng-model="theme">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well">
                <div class="row">
                    <div id="theme" class="col-xs-12 text-center"><img class="theme" src="img/sport.png" height="15%" width="15%">
                        <span class="title_quizz sport">Sport</span>
                    </div>
                </div>

                <div class="row">
                    <div id="start" class="col-xs-12">
                        <span ng-click="runQuestion('sport')" type="button" class="btn-slide"><span class="circle glyphicon glyphicon-play" style="font-size:16px;"></span>
                        <span class="title" ng-click="next=true">PLAY</span>
                        <span class="title-hover">Click here</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="well" ng-hide="quizz" ng-model="quizz">
                <div id="quizz" class="row">

                    <div id="score" class="col-xs-1 text-center">
                        <div class="timer_box">
                            <h4 id="timer">{{seconds}}</h4></div>
                    </div>

                    <div class="col-xs-6 col-xs-offset-2 question_answer">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th ng-bind-html="question | to_trusted" class="question text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="answer in answers">
                                    <td ng-bind-html="answer | to_trusted" ng-click="checkAnswer(answer)" ng-class="{'green': (answer == good_answer && hasAnswered), 'red': (answer != good_answer && hasAnswered)}" class="answer text-center"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xs-2 pull-right next_pass">
                        <button ng-hide="hidden" ng-model="hidden" id="boutton" class="btn btn-default" type="button" name="button" ng-click="nextQuestion()">NEXT</button>
                        <button ng-show="hidden" ng-model="hidden" id="boutton" class="btn btn-default" type="button" name="button" ng-click="passQuestion()">PASS</button>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="row third">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="well" ng-hide="quizz" ng-model="quizz">
                <div class="row third">
                    <div id="count" class="col-xs-2 text-right">
                        <div><img class="coin_score" src="img/coin.svg" height="18%" width="18%"><span class="score">SCORE: {{count}}</span></div>
                    </div>

                    <div id="progress_bar" class="col-xs-4 col-xs-offset-2">
                        <div>
                            <div class="progress progress-striped" type="range" min="0%" max="10%" ng-model="nbrQuestion">
                                <div class="progress-bar progress-bar" ng-style="{'width': nbrQuestion + '1%'}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div id="nbr">{{nbrQuestion}}/10</div>
                    </div>
                    <div class="col-xs-2 col-xs-offset-1">
                        <div class="player"><img class="img_player" src="img/user.svg" height="24%" width="24%">{{user.username}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well" ng-show="results">
                <div class="row">
                    <div id="result" class="col-xs-12 text-center"><img class="theme" src="img/sport.png" height="10%" width="10%">
                        <span class="title_quizz sport">Sport : results</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                      <table class="table_result">
                        <tbody>
                          <tr><td class="contenu">Good answers:</td><td class="results text-right">{{nbrGoodAnswers}}</td></tr>
                          <tr><td class="contenu">Wrong answers:</td><td class="results text-right">{{nbrFalseAnswers}}</td></tr>
                          <tr><td class="contenu">Skipped questions:</td><td class="results text-right">{{nbrPassQuestions}}</td></tr>
                          <tr><td class="contenu">Your score:</td><td class="results text-right">{{count}}</td></tr>
                        </tbody>
                      </table>
                    </div>
                </div>

                <div class="row" ng-show="snail">
                    <div id="joke" class="col-xs-6 col-xs-offset-4">
                      <img class="img_joke" src="img/snail.svg" height="20%" width="20%">
                      <span class="joke"> You're a little slow ! </span>
                    </div>
                </div>

                <div class="row" ng-show="skull">
                    <div id="joke" class="col-xs-6 col-xs-offset-4">
                      <img class="img_joke" src="img/skull.svg" height="20%" width="20%">
                      <span class="joke"> Are you dead ?</span>
                    </div>
                </div>

                <div class="row" ng-show="smiley">
                    <div id="joke" class="col-xs-6 col-xs-offset-4">
                      <img class="img_joke" src="img/smiley.svg" height="20%" width="20%">
                      <span class="joke"> You're good !</span>
                    </div>
                </div>

                <div class="row" ng-show="chicken">
                    <div id="joke" class="col-xs-6 col-xs-offset-4">
                      <img class="img_joke" src="img/chicken.svg" height="20%" width="20%">
                      <span class="joke"> No comment !</span>
                    </div>
                </div>

                <div class="row" ng-show="genius">
                    <div id="joke" class="col-xs-6 col-xs-offset-4">
                      <img class="img_joke" src="img/brain.svg" height="20%" width="20%">
                      <span class="joke">You're a Genius !</span>
                    </div>
                </div>



                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4 restart">
                      <a ui-sref="user.home"><button id="boutton" class="btn btn-default" type="button" name="button">MENU</button></a>
                      <button id="boutton" class="btn btn-default" type="button" name="button" ng-click="runQuestion('sport')">REPLAY</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
